<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Owner/Documents/Deydam_POM"><classes><class name="Login.LoginTests"><methods><include name="testAForgotPassword"/><include name="testALoginPanel"/><include name="testAPageTitle"/></methods></class><class name="TestSetup.setupTests"><methods><include name="testSetup"/></methods></class></classes></test></suite>